body {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#pageMenu {
  margin-top: 40px;
  margin-bottom: 40px;
	font-size: 60px;
	letter-spacing: 30px;
}

#gameField {
	border-style: solid;
	width: 300;
	height: 660;
	display: inline-block;
	background-color: #CFD8DC;
	position: relative;
}
